# Python Data Strucutres and Boolean

#### Boolean Variables

In [1]:
bool()

False

In [2]:
print(True, False)

True False

In [3]:
type(True)

bool

In [4]:
type(False)

bool

#### In-Built String Operations

In [5]:
my_str="RutvikRaut11"

In [6]:
print(my_str.center(20,"_"))

____RutvikRaut11____

In [7]:
print(my_str.join(['ab','pq','rs']))

abRutvikRaut11pqRutvikRaut11rs

In [8]:
print(my_str.zfill(30))

000000000000000000RutvikRaut11

In [9]:
print(my_str.strip('11'))

RutvikRaut

In [10]:
print(my_str.rpartition('R'))

('Rutvik', 'R', 'aut11')

In [11]:
print(my_str.replace('11','_'))

RutvikRaut_

In [12]:
print(my_str.rfind('11'))

10

#### Boolean and Logical Operators

In [13]:
True and True

True

In [14]:
True and False

False

In [15]:
False and True

False

In [16]:
False and False

False

In [17]:
True or True

True

In [18]:
True or False

True

In [19]:
False or True

True

In [20]:
False or False

False

In [21]:
str_example='Hello World'
my_str='Rutvik'

In [22]:
my_str.isalpha() or str_example.isnum()

True

## Lists

A list is a data structure that is a MUTABLE or CHANGABLE ORDERED SEQUENCE OF ELEMENTS. Each element or value that
is inside of a list is called an ITEM. Just as strings are defined as characters between quotes, lists are defined by having values
between square brackets [ ]

In [23]:
type([])

list

In [24]:
lst_example=[]

In [25]:
type(lst_example)

list

In [26]:
lst=list()

In [27]:
type(lst)

list

In [28]:
lst=['Maths', 'Physics', 100, 200, 300, 204]

In [29]:
type(lst)

list

In [30]:
len(lst)

6

In [31]:
len(lst_example)

0

### Append

By default adds element to the end of the list

In [32]:
# .append is used to add elements in the list

lst.append("Rutvik")

In [33]:
lst

['Maths', 'Physics', 100, 200, 300, 204, 'Rutvik']

### Insert

In [34]:
# insert in a specific order

lst.insert(1,"Raut")

In [35]:
lst

['Maths', 'Raut', 'Physics', 100, 200, 300, 204, 'Rutvik']

### Indexing

In [36]:
lst[1]

'Raut'

In [37]:
lst[:]

['Maths', 'Raut', 'Physics', 100, 200, 300, 204, 'Rutvik']

In [38]:
lst[2:]

['Physics', 100, 200, 300, 204, 'Rutvik']

In [39]:
lst[3:6]

[100, 200, 300]

In [40]:
lst[3:15]  # Notice the ending index is out of range, still it does not throw an error

[100, 200, 300, 204, 'Rutvik']

### Extend Method

In [41]:
l1 = [1,2,3,4,5]

In [42]:
l1.append([6,7]) # Using append to add multiple elements creates a nested list

In [43]:
l1

[1, 2, 3, 4, 5, [6, 7]]

In [44]:
l2 = [1,2,3,4,5]

In [45]:
l2.extend([6,7]) # Hence we use extend

In [46]:
l2

[1, 2, 3, 4, 5, 6, 7]

### Various Operations that we can perform in Lists

In [47]:
lst=[1,2,3,4,5]

In [48]:
sum(lst)

15

In [49]:
lst*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop Method

In [50]:
lst.pop() #By default pops the last element in the list

5

In [51]:
lst

[1, 2, 3, 4]

In [52]:
lst.pop(0)

1

In [53]:
lst

[2, 3, 4]

### Count Method

In [54]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [55]:
# length: Calculates total length of list
len(lst)

6

In [56]:
# index: Returns the index of first occurence. Start and End index are not necessary parameters
lst.index(1)

0

In [57]:
lst.index(1,0,3)

0

In [58]:
lst.index(1,1,3)

1

In [59]:
min(lst)

1

In [60]:
max(lst)

5

## Sets

A Set is an UNORDERED data type that is ITERABLE, MUTABLE, and has NO DUPLICATE ELEMENTS. Python's set class
represents the mathematical notion of a set. This is based on a data structure known as a hash table

In [61]:
## Defining an empty set

set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [62]:
set_var={1,2,3,4,3}

In [63]:
set_var # Duplicate element will be taken only once

{1, 2, 3, 4}

In [64]:
set_var={"IronMan",'CaptainAmerica', "Thor"}
print(set_var)
type(set_var)

{'CaptainAmerica', 'Thor', 'IronMan'}

set

### Add Operation

In [65]:
set_var.add('Hulk')

In [66]:
print(set_var)

{'CaptainAmerica', 'Thor', 'Hulk', 'IronMan'}

### Difference Operation

In [67]:
set1={'IronMan','CaptainAmerica','Thor','Hulk'}
set2={'Hulk','BlackWidow','Hawkeye'}

In [68]:
set2.difference(set1)

{'BlackWidow', 'Hawkeye'}

In [69]:
print(set2)

{'Hawkeye', 'Hulk', 'BlackWidow'}

### Difference Update

In [70]:
set2.difference_update(set1)

In [71]:
print(set2)

{'Hawkeye', 'BlackWidow'}

In [72]:
set1={'IronMan','CaptainAmerica','Thor','Hulk'}
set2={'Hulk','BlackWidow','Hawkeye'}

### Intersection Operation

In [73]:
set2.intersection(set1)

{'Hulk'}

In [74]:
print(set2)

{'Hawkeye', 'Hulk', 'BlackWidow'}

### Intersection Update

In [75]:
set2.intersection_update(set1)

In [76]:
print(set2)

{'Hulk'}

## Dictionaries

A dictionary is a COLLECTION which is UNORDERED, CHANGEABLE and INDEXED. In Python dictionaries are written with curly brackets
and they have keys and values

In [77]:
dic={}

In [78]:
type(dic)

dict

In [79]:
dic={1,2,3,4,5}

In [80]:
type(dic)

set

In [81]:
# Creating a dictionary manually

dict_ex={'Car1':'Audi','Car2':'BMW','Car3':'Benz'}

In [82]:
type(dict_ex)

dict

In [83]:
# Access the item values based on keys

dict_ex["Car1"]

'Audi'

In [84]:
dict_ex

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Benz'}

In [85]:
# We can loop through the dictionary keys

for x in dict_ex:
    print(x)

Car1
Car2
Car3

In [86]:
# We can even loop through the dictionary values

for x in dict_ex.values():
    print(x)

Audi
BMW
Benz

In [87]:
for x in dict_ex.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Benz')

In [88]:
# Adding items to a dictionary

dict_ex['Car4']='Tesla'

In [89]:
dict_ex

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Benz', 'Car4': 'Tesla'}

In [90]:
dict_ex['Car1']='Porche'

In [91]:
dict_ex

{'Car1': 'Porche', 'Car2': 'BMW', 'Car3': 'Benz', 'Car4': 'Tesla'}

In [92]:
for x in dict_ex.values():
    if x == 'BMW':
        print(x)
        break
else:
    print('Not Found')

################################

for x in dict_ex.values():
    if x == 'ABC':
        print(x)
        break
else:
    print('Not Found')

BMW
Not Found

### Nested Dictionaries

In [93]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'BMW':2000}

car_type={'Car1':car1_model,'Car2':car2_model,'Car3':car3_model}

In [94]:
print(car_type)

{'Car1': {'Mercedes': 1960}, 'Car2': {'Audi': 1970}, 'Car3': {'BMW': 2000}}

In [95]:
# Accessing the items in the dictionary

print(car_type['Car1'])

{'Mercedes': 1960}

In [96]:
# Accessing the inner most element of the dictionary

print(car_type['Car1']['Mercedes'])

1960

## Tuples

Once you have defined a tuple, you CANNOT CHANGE the elements of the tuple

In [97]:
# Creating an empty tuple

my_tuple=tuple()

In [98]:
type(my_tuple)

tuple

In [99]:
my_tuple=()

In [100]:
type(my_tuple)

tuple

In [101]:
my_tuple=('Rutvik','Husain','Rahul')

In [102]:
my_tuple[0]

'Rutvik'

In [103]:
# my_tuple[0]='ABC' # You cannot change the elements in the tuple

In [104]:
my_tuple=('Hello', 'World') # But you can change the whole tuple

In [105]:
my_tuple

('Hello', 'World')

In [106]:
# Count Operation for tuple - Counts the occurence

my_tuple.count('Hello')

1

In [107]:
# Index operation for tuple - Gives the index value

my_tuple.index('Hello')

0